* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(13, 0, 26, 0.9);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    flex-direction: column;
}

.container {
    text-align: center;
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    opacity: 0;
    position: absolute;
    top: 10px;
    transition: opacity 1s ease; 
}

h1.show-title {
    opacity: 1; 
}

button {
    background-color: #8000ff; 
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #9b3eff; 
}

#photo-container {
    display: none;
}

#photo {
    width: 300px;
    height: auto;
    margin-top: -40px; 
}

#countdown, #text-below-photo, #text-below-countdown {
    opacity: 0; 
    animation: fadeIn 2s forwards; 
}

#countdown {
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    animation-delay: 2s; 
}

#text-below-photo {
    font-size: 11px;
    color: #949494;
    margin-top: 20px;
}

#text-below-countdown {
    font-size: 10px;
    color: #949494;
    margin-top: 10px;
}


#footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px; 
    color: #fff;
    z-index: 10; 
    text-align: center;
    padding: 10px 20px;
    width: 100%;
}

#footer-container {
    width: 100%;
    text-align: center;
}

#footer-container p {
    margin: 5px 0;
}

#hearts {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fall {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        transform: translateY(100vh) scale(1.2);
        opacity: 0;
    }
}
